.main-table-wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

.table-group {
  flex-grow: 1;
  overflow-x: auto;
  /* overflow-x: auto; */
}

.table-table {
  background: linear-gradient(
      230deg,
      rgba(53, 53, 80, 1) 30%,
      rgba(23, 22, 41, 1) 100%
    )
    fixed;
  border-radius: 18px;
}

.table-wrapper {
  /* ===========================  NOTE: DISPLAY FLEX */
  display: flex;
  flex-direction: column;
  /* ===========================  NOTE: DISPLAY FLEX */
  min-height: 280px;
  height: 600px;
  overflow-y: scroll;
  border-radius: 0 0 12px 12px;
}

.table-title {
  font-size: 1.4em;
  margin-bottom: 24px;
  /* padding-left: 24px; */
}

.table {
  border-collapse: collapse;
  font-size: 1em;
  /* min-width: 400px; */
  border-radius: 0 0 12px 12px;
  /* overflow: hidden; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: white;
  width: 100%;
  text-align: left;
}

/* ===========================  NOTE: STYLING FROM YOUTUBE */

.table th,
.table td {
  padding: 12px 24px;
  text-align: left;
}

.table tr th {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 24px 24px;
  border-radius: 12px 0 0 0;
  background: linear-gradient(
      230deg,
      rgba(53, 53, 80, 1) 30%,
      rgba(23, 22, 41, 1) 100%
    )
    fixed;
  box-shadow: 0 5px 15px 1px rgba(27, 25, 49, 0.1);
}

.table-header-sticky {
  padding: 24px 24px;
  font-weight: 600;
  font-size: 1.4em;
  box-shadow: 0 5px 15px 1px rgba(27, 25, 49, 0.1);
}

/* ===========================  NOTE: NYOBA SCROLLBAR */

#scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  margin: 5px;
}

#scrollbar::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
  left: 100px;
}

#scrollbar::-webkit-scrollbar-thumb {
  /* box-sizing: border-box; */
  border-radius: 20px;
  margin: 10px;
  height: 200px;
  background: linear-gradient(
    230deg,
    rgba(254, 131, 9, 1) 0%,
    rgba(235, 70, 96, 1) 100%
  );
}

#scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}
