* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(238.96deg, #414166 28.59%, #201e36 85.94%) fixed;
  width: 97vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: white;
}
